app-garbage-back,app-garbage-front,app-garbage-extra{
    position: absolute;
    display: inline-block;

    width: 40vw;
    max-width: calc(40vh * 0.45);

    translate: -50% -50%;
}

$left-right: 21vw;
$top-down: 17vh;

#yellow-stack{
    position: absolute;
    right: $left-right;
    bottom: $top-down;
}

#brown-stack{
    position: absolute;
    left: $left-right;
    top: $top-down;
}

#gray-stack{
    position: absolute;
    left: $left-right;
    bottom: $top-down;
}

#green-stack{
    position: absolute;
    right: $left-right;
    top: $top-down;
}

.zone{
    position: absolute;

    width: 45vw;
    height: 45vh;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20%;

    z-index: -1;
}

.center-flex{
    width: 100vw;
    height: 100vh;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center-div img{
    width: 30vw;
}