
#logo{
    width: calc(100vw - 165px);
    height: calc(100vw - 165px);
}
#logo-font{
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--FontColor);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

