/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
// @import '@ionic/angular/css/normalize.css';
// @import '@ionic/angular/css/structure.css';
// @import '@ionic/angular/css/typography.css';

/* Optional CSS utils that can be commented out */
// @import '@ionic/angular/css/padding.css';
// @import '@ionic/angular/css/float-elements.css';
// @import '@ionic/angular/css/text-alignment.css';
// @import '@ionic/angular/css/text-transformation.css';
// @import '@ionic/angular/css/flex-utils.css';
// @import '@ionic/angular/css/display.css';

*{
    margin: 0px;
    padding: 0px;

    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;

    letter-spacing: 0.02em;
}

:root{
    /*
    --ion-color-primary: #69D635;
	--ion-color-primary-rgb: 105,214,53;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #5cbc2f;
	--ion-color-primary-tint: #78da49;

	--ion-color-secondary: #52405C;
	--ion-color-secondary-rgb: 82,64,92;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #483851;
	--ion-color-secondary-tint: #63536c;

	--ion-color-tertiary: #8facd9;
	--ion-color-tertiary-rgb: 143,172,217;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #7e97bf;
	--ion-color-tertiary-tint: #9ab4dd;

	--ion-color-success: #219348;
	--ion-color-success-rgb: 33,147,72;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #1d813f;
	--ion-color-success-tint: #379e5a;

	--ion-color-warning: #FFC107;
	--ion-color-warning-rgb: 255,193,7;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0aa06;
	--ion-color-warning-tint: #ffc720;

	--ion-color-danger: #E2007A;
	--ion-color-danger-rgb: 226,0,122;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #c7006b;
	--ion-color-danger-tint: #e51a87;

	--ion-color-medium: #52405C;
	--ion-color-medium-rgb: 82,64,92;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #483851;
	--ion-color-medium-tint: #63536c;

	--ion-color-light: #F0F0F0;
	--ion-color-light-rgb: 240,240,240;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d3d3d3;
	--ion-color-light-tint: #f2f2f2;
    */
    
    --Experimental: #8facd9;

    --PrimaryColorGradient1:#71FF2F;
    --PrimaryColorGradient2:#5CBE2D;
    
    --PrimaryColor: #69D635;
    --SecondaryColor: #52405C;
    --FontColor: #F0F0F0;
    --GarbageGreen: #219348;
    --GarbageGray: #6B6B6B;
    --GarbageYellow: #FFC107;
    --GarbageBrown: #7E5842;
    --GarbagePink: #E2007A;
    --Blackish: #1D1D1B;

    //hmm... https://swiperjs.com/swiper-api#pagination
    //--swiper-pagination-color: var(--swiper-theme-color);
    //--swiper-pagination-bullet-size: 8px;
    //--swiper-pagination-bullet-width: 8px;
    //--swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: var(--Blackish);
    --swiper-pagination-bullet-inactive-opacity: 0.8;
    //--swiper-pagination-bullet-opacity: 1;
    //--swiper-pagination-bullet-horizontal-gap: 4px;
    //--swiper-pagination-bullet-vertical-gap: 6px;

    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: 45px;
}

html{
    background-color: var(--SecondaryColor);
    height: 100vh;
}

swiper-container{
    height: 100%;
    width: 100%;
}

swiper-slide{
    top: 80px;
    height: calc(100% - 80px);
}