/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
// @import '@ionic/angular/css/normalize.css';
// @import '@ionic/angular/css/structure.css';
// @import '@ionic/angular/css/typography.css';

/* Optional CSS utils that can be commented out */
// @import '@ionic/angular/css/padding.css';
// @import '@ionic/angular/css/float-elements.css';
// @import '@ionic/angular/css/text-alignment.css';
// @import '@ionic/angular/css/text-transformation.css';
// @import '@ionic/angular/css/flex-utils.css';
// @import '@ionic/angular/css/display.css';

*{
    margin: 0px;
    padding: 0px;

    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;

    letter-spacing: 0.02em;
}

:root{
    --Experimental: #8facd9;

    --PrimaryColorGradient1:#71FF2F;
    --PrimaryColorGradient2:#5CBE2D;
    
    --PrimaryColor: #69D635;
    --SecondaryColor: #52405C;
    --FontColor: #F0F0F0;
    --GarbageGreen: #219348;
    --GarbageGray: #6B6B6B;
    --GarbageYellow: #FFC107;
    --GarbageBrown: #7E5842;
    --GarbagePink: #E2007A;
    --Blackish: #1D1D1B;

    //hmm... https://swiperjs.com/swiper-api#pagination
    //--swiper-pagination-color: var(--swiper-theme-color);
    //--swiper-pagination-bullet-size: 8px;
    //--swiper-pagination-bullet-width: 8px;
    //--swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: var(--Blackish);
    --swiper-pagination-bullet-inactive-opacity: 0.8;
    //--swiper-pagination-bullet-opacity: 1;
    //--swiper-pagination-bullet-horizontal-gap: 4px;
    //--swiper-pagination-bullet-vertical-gap: 6px;

    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: 0px;
}

html{
    background-color: var(--SecondaryColor);
    height: 100vh;
}

swiper-container{
    top: 40px;
    height: calc(100% - 40px);
    position: relative;
    width: 100vw;
}

swiper-container .swiper-pagination{
    position: fixed !important;
}

swiper-slide{
    position: relative;
    top: 35px;
}