header{
    position: fixed;
    z-index: 1;
    top: 0px;

    color: var(--FontColor);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Nova Square';
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

    background-color: var(--PrimaryColor);
    height: 36px;
    width: 100vw;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--Blackish);
}