@import 'src/assets/scss/shared-garbage.component.scss';
@import 'src/assets/scss/shared-general.component.scss';

.stroke-PC{stroke: var(--GarbageYellow);}
.stroke-SC{stroke: var(--GarbagePink);}
.stroke-TC{stroke: var(--Blackish);}

.fill-PC{fill: var(--GarbageYellow);}
.fill-SC{fill: var(--GarbagePink);}
.fill-TC{fill: var(--Blackish);}
