<div id="double-vh">
    <app-header></app-header>
    <div id="garbage-stack">
        <app-garbage-extra theme="themeYellow"></app-garbage-extra>
        <app-garbage-back theme="themeYellow"></app-garbage-back>

        <img src="../../../assets/Garbage/001-plastic-bottle.png" id="img-scroll1">
        <img src="../../../assets/Garbage/008-bag.png" id="img-scroll2">
        <app-garbage-front theme="themeYellow"></app-garbage-front>
    </div>

    <div class="align-text">
        <div class="info-header width-wide">
            <p>
                Die gelbe Tonne
            </p>
        </div>
        <div class="info-text width-wide">
            <h1>
                Allgemein
            </h1>
            <p>
                Leichtverpackungsmüll sind Verpackungen aus Kunststoff, Metall, Verbundstoffen und Naturmaterialien. 
            </p>
        </div>
        <div class="info-text width-wide">
            <h1>
                Beispiele
            </h1>
            <ul>
                <li>Plastikbecher</li>
                <li>Wurst</li>
                <li>Käseverpackungen</li>
                <li>Eisverpackungen</li>
                <li>Konservendosen</li>
                <li>Alufolie</li>
                <li>Getränkekartons</li>
                <li>Plastiktpten</li>
                <li>Styroporverpackungen</li>
            </ul>
        </div>
        <div class="info-text width-wide">
            <h1>
                Achtung / Tabu
            </h1>
            <ul>
                <li>Verpackungen sollten restentleert, aber nicht gespült werden</li>
                <li>Glas und Papier</li>
            </ul>
        </div>
    </div>

    <app-footer></app-footer>
</div>