footer{
    position: fixed;
    z-index: 1;
    bottom: 0px;

    background-color: var(--PrimaryColor);
    height: 36px;
    width: calc(100vw - 2px);
    border-style: solid;
    border-width: 2px 1px 0px 1px;
    border-radius: 45px 45px 0px 0px;
    border-color: var(--Blackish);
}
.footer-align{
    position: relative;
    top: calc(50% - 25px/2);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(100vw / 2);
    
}
.footer-align svg{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
}

.footer-align svg:focus{
    outline: none;
}

.cutout{
    position: absolute;
    top: 0px;
    left: 50%;
    translate: -50% 0;
    width: 25vw;

    z-index: 2;
}
.cutout svg{
    position: absolute;
}
.line{
    position: absolute;
    top: -2px;
}


.score{
    position: absolute;
    top: -30px;
    left: 50%;
    translate: -50% 0;

    z-index: 3;
}

h1{
    font-family: 'Nova Square', cursive;
    font-weight: 400;
    font-size: 50px;

    letter-spacing: 0.02em;

    color: var(--FontColor);
}