<div id="double-vh">
    <app-header></app-header>
    <div id="garbage-stack">
        <div>
            <app-garbage-back theme="themeBrown"></app-garbage-back>
        </div> 

        <img src="../../../assets/Garbage/004-food.png" id="img-scroll1">
        <img src="../../../assets/Garbage/005-food-2.png" id="img-scroll2">
        <div>
            <app-garbage-front theme="themeBrown"></app-garbage-front>
        </div>
    </div>

    <div class="align-text">
        <div class="info-header width-wide">
            <p>
                Die braune Tonne
            </p>
        </div>
        <div class="info-text width-wide">
            <h1>
                Allgemein
            </h1>
            <p>
                Bioabfall ist der organische Abfall tierischer oder pflanzlicher Herkunft und durch Mikroorganismen, bodenlebende Lebewesen oder Enzyme abgebaut werden kann. 
            </p>
        </div>
        <div class="info-text width-wide">
            <h1>
                Beispiele
            </h1>
            <ul>
                <li>Speisereste</li>
                <li>Knochen</li>
                <li>Fisch und Fleisch</li>
                <li>Rasenschnitt</li>
                <li>Topfpflanzen</li>
                <li>Eierschalen</li>
                <li>Kaffeesatz und Filter</li>
                <li>Küchentücher aus Papier</li>
            </ul>
        </div>
        <div class="info-text width-wide">
            <h1>
                Achtung / Tabu
            </h1>
            <ul>
                <li>kompostierbare Plastiktüten</li>
            </ul>
        </div>
    </div>

    <app-footer></app-footer>
</div>