<app-header-game></app-header-game>
<div id="brown-stack">
    <div class="zone"></div>
    <app-garbage-back theme="themeBrown"></app-garbage-back>
    <app-garbage-front theme="themeBrown"></app-garbage-front>
</div>
<div id="gray-stack">
    <div class="zone"></div>
    <app-garbage-back theme="themeGray"></app-garbage-back>
    <app-garbage-front theme="themeGray"></app-garbage-front>
</div>
<div id="green-stack">
    <div class="zone"></div>
    <app-garbage-back theme="themeGreen"></app-garbage-back>
    <app-garbage-front theme="themeGreen"></app-garbage-front>
</div>
<div id="yellow-stack">
    <div class="zone"></div>
    <app-garbage-extra theme="themeYellow"></app-garbage-extra>
    <app-garbage-back theme="themeYellow"></app-garbage-back>
    <app-garbage-front theme="themeYellow"></app-garbage-front>
</div>


<img src="../../../assets/Garbage/004-food.png" alt="Draggable Picture" />
<app-footer-game></app-footer-game>
