<app-header-game></app-header-game>
<div id="brown-stack">
    <div mwlDroppable (drop)="onDrop('brown')" class="zone" style="translate: -40% -30%;"></div>
    <app-garbage-back theme="themeBrown"></app-garbage-back>
    <app-garbage-front theme="themeBrown"></app-garbage-front>
</div>
<div id="gray-stack">
    <div mwlDroppable (drop)="onDrop('gray')" class="zone" style="translate: -40% -70%;"></div>
    <app-garbage-back theme="themeGray"></app-garbage-back>
    <app-garbage-front theme="themeGray"></app-garbage-front>
</div>
<div id="green-stack">
    <div mwlDroppable (drop)="onDrop('green')" class="zone" style="translate: -60% -30%;"></div>
    <app-garbage-back theme="themeGreen"></app-garbage-back>
    <app-garbage-front theme="themeGreen"></app-garbage-front>
</div>
<div id="yellow-stack">
    <div mwlDroppable (drop)="onDrop('yellow')" class="zone" style="translate: -60% -70%;"></div>
    <app-garbage-extra theme="themeYellow"></app-garbage-extra>
    <app-garbage-back theme="themeYellow"></app-garbage-back>
    <app-garbage-front theme="themeYellow"></app-garbage-front>
</div>

<div class="center-flex" [ngClass]="{'negative':subAnimation, 'positive':addAnimation}">
    <img *ngIf="garbageSelector" mwlDraggable (dragStart)="onDrag()" [src]="garbageSelector.src"/>
</div>

<app-footer-game></app-footer-game>
