header{
    position: fixed;
    z-index: 1;
    top: 0px;

    color: var(--FontColor);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Nova Square';
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--PrimaryColor);
    height: 36px;
    width: 100vw;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--Blackish);
}

@keyframes timeAnimation {
    0% {
    }
    50%{
      font-size: 26px;
    }
    100% {
      font-size: 26px;
    }
}
.timeAnimation{
    animation: timeAnimation 1s infinite;
}