@import 'src/assets/scss/shared-garbage.component.scss';
@import 'src/assets/scss/shared-general.component.scss';

.stroke-PC { stroke: var(--GarbageGray); }
.stroke-SC { stroke: var(--FontColor); }
.stroke-TC { stroke: var(--Blackish); }

.fill-PC { fill: var(--GarbageGray); }
.fill-SC { fill: var(--FontColor); }
.fill-TC { fill: var(--Blackish); }
        