<div id="double-vh">
    <app-header></app-header>
    <div id="garbage-stack">
        <div>
            <app-garbage-back theme="themeGray"></app-garbage-back>
        </div> 

        <img src="../../../assets/Garbage/007-rubik.png" id="img-scroll1">
        <img src="../../../assets/Garbage/002-pen.png" id="img-scroll2">
        <div>
            <app-garbage-front theme="themeGray"></app-garbage-front>
        </div>
    </div>

    <div class="align-text">
        <div class="info-header width-wide">
            <p>
                Die grüne Tonne
            </p>
        </div>
        <div class="info-text width-wide">
            <h1>
                Allgemein
            </h1>
            <p>
                Altpapier wird zur Herstellung von Recyclingpapier, Zeitungsdruckpapier und weiteren Produkten aus Papier wie beispielsweise Kartons verwendet.
            </p>
        </div>
        <div class="info-text width-wide">
            <h1>
                Beispiele
            </h1>
            <ul>
                <li>Papier</li>
                <li>Karton</li>
                <li>Pappe</li>
                <li>Geschenkpapier</li>
                <li>Zeitung</li>
                <li>Zeitschriften</li>
            </ul>
        </div>
        <div class="info-text width-wide">
            <h1>
                Achtung / Tabu
            </h1>
            <ul>
                <li>V</li>
            </ul>
        </div>
    </div>

    <app-footer></app-footer>
</div>