<app-header></app-header>
<div class="info">
    <h1>
        Recycling schont Ressourcen -<br>und das Klima!
    </h1>
    <p>
        Durch Recycling werden weniger Ressourcen benötigt, aber es wird auch einiges an Energie gespart - das schützt auch das Klima.
    </p>
    <h1>
        Einsparpotenzial
    </h1>
    <ul>
        <li>Recyclingpapier spart 100 % Holz, 70 % Wasser und 60 % Energie</li>
        <li>Recyceltes Glas spart Sand, Soda, Kalk und bis zu 25 % Heizenergie (bei einem Altglasanteil von 85 %)</li>
        <li>Jede Tonne Recyclingplastik spart gegenüber neuem Plastik aus Erdöl eine Tonne CO2.</li>
    </ul>
    <h1>Fazit</h1>
    <p>
        Das richtige Entsorgen erhöht die Recyclingquote und das schont wiederum Ressourcen und Energie. Am besten ist aber natürlich nach wie vor der Müll, der gar nicht erst anfällt.
    </p>
</div>
<app-footer></app-footer>