//same as info page. maybe make shared scss
//WIP
.overlay{
    width: calc(100vw - 4px);
    height: 33vh;
    background-color: var(--SecondaryColor);
    border-radius: 10% 10% 0 0;
    border: solid var(--Blackish);
    border-width: 2px 2px 0px 2px;
}
.info{
    position: absolute;
    top: 20px;
    height: calc(33vh - 20px - 40px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    position: absolute;

    padding: 0px 40px;
    overflow-y:auto;
}

h1{
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    color: #FFF;
}

p{
    color: var(--FontColor);
}