<app-header></app-header>
<div class="settings">
    <div class="options">
        <h1>Einstellungen</h1>
        <h2>Anpassung</h2>
        <div class="option">
            <div class="icon-text">
                <div class="icon-bg">
                    <img src="{{ commonpath }}/night.png">
                </div>
                Darkmode
            </div>
        </div>

        <h2>Berechtigungen</h2>
        <div class="option">
            <div class="icon-text">
                <div class="icon-bg">
                    <img src="{{ commonpath }}/camera.png">
                </div>
                Kamera
            </div>
        </div>
    </div>

    <div class="options">
        <h1>Info</h1>
        <h2>Über die App</h2>
        <div class="option">
            <div class="icon-text">
                <div class="icon-bg">
                    <img src="{{ commonpath }}/feedback.png">
                </div>
                Feedback
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
