<app-header></app-header>
<app-current-page></app-current-page>
<div class="x-scroll">
    <div class="product" *ngFor="let product of products;index as indexOfProduct">
      <div *ngIf="capturedImage" id="video-screenshot">
        <img [src]="capturedImage">
      </div>
      <div class="info-header width-wide">
        <p>
          {{ product.name }},{{ product.detailname}}
        </p>
      </div>
      <div class="info-text width-wide">
        <h1>Hersteller:</h1>
        <p>
          {{ product.vendor }}
        </p>
        <h1>Herkunfsland:</h1>
        <p>
          {{ product.origin }}
        </p>
      </div>
      <div class="info-text width-wide" *ngIf="productPacks[indexOfProduct]?.length">
        <h1>Verpackung:</h1>
        <ul>
          <li *ngFor="let pack of productPacks[indexOfProduct]">{{ pack }}</li>
        </ul>
      </div>
      <div class="info-text width-wide">
        <h1>
          Achtung
        </h1>
        <p>
          V
        </p>
      </div>
    </div>
</div>
<app-footer></app-footer>
