<app-header></app-header>
<app-current-page></app-current-page>
<swiper-container [pagination]="true" [loop]="true">
    <swiper-slide *ngFor="let product of products;index as indexOfProduct">
      <img *ngIf="capturedImage" [src]="capturedImage">
      <div class="info-header width-wide" style="border-radius: 10px;">
        <p>
          {{ product.name }}<span *ngIf="!product.name">{{ product.detailname }}</span>
        </p>
      </div>
      <div class="info-text width-wide">
        <h1>Hersteller:</h1>
        <p>
          {{ product.vendor }}
        </p>
        <h1>Herkunfsland:</h1>
        <p>
          {{ product.origin }}
        </p>
      </div>
      <div class="info-text width-wide" *ngIf="productPacks[indexOfProduct]?.length">
        <h1>Verpackung:</h1>
        <ul>
          <li *ngFor="let pack of productPacks[indexOfProduct]">{{ pack }}</li>
        </ul>
      </div>
      <div class="info-text width-wide" *ngIf="productInstructions[indexOfProduct]?.length">
        <h1>
          Entsorgung
        </h1>
        <ul>
          <li *ngFor="let instruction of productInstructions[indexOfProduct]">{{ instruction }}</li>
        </ul>
      </div>
    <div class="info-text width-wide" *ngIf="productExtras[indexOfProduct]?.length">
      <h1>
        Achtung
      </h1>
      <ul>
        <li *ngFor="let extra of productExtras[indexOfProduct]">{{ extra }}</li>
      </ul>
    </div>
  </swiper-slide>
</swiper-container>
<app-footer></app-footer>
