@import 'src/assets/scss/shared-general.component.scss';

app-current-page{
    position: absolute;
    translate: -50% -50%;
    top: 55px;
    left: 50%;
}

ul{
    list-style: inside;
    padding: 0px 15px 10px 15px;
}

.x-scroll {
    position: relative;
    top: 70px;
    max-height: calc(100vh - 120px);

    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.product {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    overflow-y: scroll;
}

img{
    width: calc(100vw - 160px);
    height: calc((100vw - 160px) * 0.75);
    border: var(--Blackish) solid 2px;
}

span{
    all: inherit;
    padding: 0;
    margin: 0;
}