@import 'src/assets/scss/shared-general.component.scss';

app-current-page{
    position: absolute;
    translate: -50% -50%;
    top: 55px;
    left: 50%;
}


.x-scroll {
    position: relative;
    top: 70px;
    max-height: calc(100vh - 120px);

    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.product {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: #E2007A solid 1px;
    border-radius: 10px;

    overflow-y: scroll;
}


#video-screenshot{
    min-width: calc(100vw - 120px);
    min-height: calc((100vw - 120px) * 0.75);
    border: var(--Blackish) solid 2px;
    border-radius: 10px;

    background-color: var(--FontColor);
}