@import 'src/assets/scss/shared-general.component.scss';

app-current-page{
    position: absolute;
    translate: -50% -50%;
    top: 55px;
    left: 50%;
}

ul{
    list-style: inside;
    padding: 0px 15px 10px 15px;
}

swiper-container{
    top: 70px;
    max-height: calc(100vh - 120px);
}

swiper-slide{
    min-width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    overflow-y: scroll;
}




img{
    width: calc(100vw - 160px);
    height: calc((100vw - 160px) * 0.75);


    --b: 4px;   /* thickness of the border */
    --c: var(--GarbagePink);   /* color of the border */
    --w: 18px;  /* width of border */

    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;

    background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

span{
    all: inherit;
    padding: 0;
    margin: 0;
}