<app-header></app-header>
<app-current-page></app-current-page>
<div class="align-text">
    <div id="video"></div>
    <div class="info-header width-wide">
        <p>
            Apfelwein
        </p>
    </div>
    <div class="info-text width-wide">
        <h1>
            Hersteller:
        </h1>
        <p>
            V
        </p>
        <h1>Herkunfsland:</h1>
        <p>
            V
        </p>
    </div>
    <div class="info-text width-wide">
        <h1>
            Verpackung:
        </h1>
        <p>
            V
        </p>
    </div>
    <div class="info-text width-wide">
        <h1>
            Achtung
        </h1>
        <p>
            V
        </p>
    </div>
</div>
<app-footer></app-footer>