<app-header></app-header>
<div id="brown-stack">
    <app-garbage-back theme="themeBrown"></app-garbage-back>
    <app-garbage-front theme="themeBrown"></app-garbage-front>
</div>
<div id="gray-stack">
    <app-garbage-back theme="themeGray"></app-garbage-back>
    <app-garbage-front theme="themeGray"></app-garbage-front>
</div>
<div id="green-stack">
    <app-garbage-back theme="themeGreen"></app-garbage-back>
    <app-garbage-front theme="themeGreen"></app-garbage-front>
</div>
<div id="yellow-stack">
    <app-garbage-extra theme="themeYellow"></app-garbage-extra>
    <app-garbage-back theme="themeYellow"></app-garbage-back>
    <app-garbage-front theme="themeYellow"></app-garbage-front>
</div>

<div class="center-align">
    <div class="info-header width-narrow">
        <p>Profi Recycler</p>
    </div>
    <div class="info-text width-narrow">
        <p>
            Ziehe die Items auf die entsprechende Mülltonne!
        </p>
    </div>
    <button class="info-text press-play width-narrow" (click)="startGame()">
        <p>Start</p>
    </button>
</div>
<app-footer></app-footer>
